extends tableOfContents




block content
    
    div.title='10 Lessons in Accessibility - How Elden Ring became Game of the Year and sold 20+ million copies'
    div.imageContainer
        img.image(src="../images/gamedesign/eldenringaccessibility/elden-ring-new-header-mobile.jpg")
    div.content
        p
        | Elden Ring is the most hyped game of the last few years, and became Game of the Year 2022.  Suffice to say, FromSoftware exceeded it's goals,
        | growing its audience to new levels and satisfying legions of Souls fans with their grandest incarnation to date.
        p
        | Yet still Elden Ring bears the hallmarks of difficulty and challenge that have made Dark Souls the genre-defining experience it is.  
        | An experience that's often regarded for being unwelcoming to novice players, yet greatly rewarding once you 'git gud' and begin to master the game.
        p
        | In this study, I will highlight 10 things that FromSoftware did to make Dark Souls accessible, while staying true to its core experience.
    
    div.subtitle='1. The Open World allows players to take on challenges when they are ready'
    div.imageContainer
        img.image(src="../images/gameDesign/EldenRingAccessibility/Wg7NxnRXL62LSWMK5ECuoa-1920-80.jpg.webp")
    div.content
        p
        | In O.G. Dark Souls, paths were limited and sometimes not obvious.  
        | They were often gated by tough foes that let the player know they shouldn't be here yet.  
        | While there was a lot of exploration, it was gated behind mastery rather than joyous discovery.
        | Elden Ring widens this approach with an open world that lets players explore and choose content to engage with.
        p 
        | It’s never been easier to skip encounters and traverse elsewhere.  It’s extremely easy to sprint through an area and grab whatever you can.
        | You can run away from pretty much any enemy, especially if you’re on your horse.  
        | Tough encounter?  Run around it or through it. 
        p 
        | This whole open world accessibility gives players the ability to approach Elden Ring at a pace they’d like.
        | Not that Elden Ring isn’t without it’s surprises, boss fights, and traditional souls level designs that feel like unwrapping an intricate puzzle from the inside.
        | Though even those are benefitted from the open-world design, offering some unconventional approaches and opportunities for crafty players who like to test and discover the limits of world & level design.
        p 
        | To top if off, you can pull out your map and warp to any previously visited Grace Sites at pretty much any time.  

    div.subtitle='2. Your double jumping horse gives you super maneuverability'
    div.imageContainer
        img.image(src="../images/gameDesign/EldenRingAccessibility/0738f929-4b4c-4224-8312-0c9be4b1f95b-elden-ring-unlock-horse.jpg")
    div.content
        p 
        | I spoiled this one in the previous entry… 
        | It certainly deserves its own item because it’s a huge feature in Elden Ring that makes the open world fun and easy to navigate.
        | The first time I fought a dragon on a horse… exhilarating.  
        | This feels like Zelda for adults.  
        p
        | Torrent is not only faster than most enemies, you also get a very useful double jump that lets you adjust the direction of your jump direction, dodge attacks in mid-air, and reach higher and farther places.
        | This makes it easy to get away from enemies, or even to jump over them and their attacks.  And the controls are easy.  Yes, please.  
        p
        | Granted, the horse isn’t available 100% of the time, and can’t be summoned within some locations like dungeons or castles.
        p
        | It's worth mentioning that some parts of horse riding and horse combat are a bit difficult. 
        | Getting knocked off your horse essentially stun-locks the player for a few seconds while your character gets up from the ground.  
        | It doesn’t feel great, even if it is probably fair.  
        | It can also sometimes be hard to swing at flying enemies with your weapon of choice, so you may find yourself switching between target lock and not.
        | And reviving Torrent is a tad overcomplicated in the way that it uses Estus flask.  
        p
        | Overall, Torrent adds a lot of ability to speed up exploration and enable platforming.  Maybe some PvP Jousting would be a cool feature.

    div.subtitle='3. Jumping is an actual feature'
    div.imageContainer
        img.image(src="../images/gameDesign/EldenRingAccessibility/d6776141-d698-4ed8-a993-a95e6bb3e67e-elden-ring-pvp.jpeg")
    div.content
        p 
        | Jumping is now a proper supported feature, instead of just another difficult to use feature.  
        | Souls players are all too familiar with lining up awkward jumps, and then falling to their death or damage.
        | It's no secret that jumping has lacked in Souls games previously and often been a point of frustration.
        | This was probably accepted because Souls games are supposed to be challenging.
        p
        | There is a dedicated button now, and the player can jump from stand-still still, and not just while running.  
        | This has vastly improved players ability to navigate the world, to the point where light platforming is now a viable thing in Dark Souls for the masses.
        | Climbing and solving vertical puzzles is encouraged, and jumping aids significantly in exploration.
        p
        | Jumping has improved the combat as well and become a more viable attack that adds to the variety and diversity of combat.
        | Untraversable edges are no longer a deadly trap, jump attacks are common place and super effective, and escape is much much easier.

    div.subtitle='4. Stealth?  In a Souls game?  Sneaking is a full feature, too'
    div.imageContainer
        img.image(src="../images/gameDesign/EldenRingAccessibility/d6776141-d698-4ed8-a993-a95e6bb3e67e-elden-ring-pvp.jpeg")
    div.content
        p 
        | Sneaking… in a Souls game?  
        p
        | While it’s true that we’ve been able to avoid the attention of enemies in previous Souls games.
        | Do things like become invisible, and lower the amount of noise we generate… 
        | It’s also true that we’ve never been able to physicallt crouch down and sneak.  
        | Just having this as a feature communicates clearly to the player that sneaking is intended.  
        | The player has the most basic tool to avoid enemy attention.
        p
        | This helps to remove any confusion about the player’s intention.  
        | Want to be quiet and less seen?  Sneak.  
        | You can even run while sneaking which allows the player to keep a reasonable speed.

    div.subtitle='5. Multiplayer has been streamlined and PvP is less invasive'
    div.imageContainer
        img.image(src="../images/gameDesign/EldenRingAccessibility/d6776141-d698-4ed8-a993-a95e6bb3e67e-elden-ring-pvp.jpeg")
    div.content
        p 
        | Accessing the Summoning Pools makes it easy for players to find other players to join with and assist.  
        | And players can replay area bosses in areas they’ve already completed
        p 
        | Invasions are… 80% less invasive.  
        | They only happen if the host has first engaged multiplayer features.  
        | And when you do try to invade another player, it’s in the favor of the host.  
        | By default, it’s 1v2 and sometimes 1v3, unless the host specifically allows 2v2.  
        | And PvP arenas are in specific locations.

    div.subtitle='6. Spirit Summons are Co-op for gamers who prefer solo play, and doesn’t scale boss health'
    div.imageContainer
        img.image(src="../images/gameDesign/EldenRingAccessibility/d6776141-d698-4ed8-a993-a95e6bb3e67e-elden-ring-pvp.jpeg")
    div.content='content'
    div.subtitle='7. Stakes of Marika make running back to the boss a thing of the past'
    div.imageContainer
        img.image(src="../images/gameDesign/EldenRingAccessibility/d6776141-d698-4ed8-a993-a95e6bb3e67e-elden-ring-pvp.jpeg")
    div.content='content'
    div.subtitle='8. In-game descriptions contain actual useful information'
    div.imageContainer
        img.image(src="../images/gameDesign/EldenRingAccessibility/d6776141-d698-4ed8-a993-a95e6bb3e67e-elden-ring-pvp.jpeg")
    div.content
        p
        | While still not as literal as some would like, more mechanics are captured and described in the numerous items and their descriptions.
        | This is generally resolved for more special mechanics, and aside from the tutorial mechanics, it would be great to see some acknowledgement of lore around 
        | player mechanics; like rolling & i-frames.  Tunic is a wonderful example, that's probably hard to pull off, but was a huge part of the game
        p
        | Notes from vendors contain information on weakspots or information on how to solve puzzles.  
        | Item descriptions contain information about features and functionality.  
        | It’s more explicit than previous Souls games and there is less vagueness.  
        | There are even ‘about’ notes for game mechanics.

    div.subtitle='9. It\'s familiar: Mechanics, weapons, abilities, enemies, animations, tricks, etc.  This is Souls 4: Open World Edition.'
    div.imageContainer
        img.image(src="../images/gameDesign/EldenRingAccessibility/Elden-Ring-screenshots-4.jpg")
    div.content
        p
        a(href="https://gamerant.com/elden-ring-dark-souls-similar-shared-mechanics-miyazaki/") Elden Ring is Dark Souls.  Dark Souls is Elden Ring
        | . The enemies are all new, yet they are all the same. Small enemies are now big, with different skins.  
        | They have the same animations as another enemy we saw previously.  And now with a sword instead of a whip.  
        | FromSoftware is not re-writing the farmMechanics, they are evolving their craft over time.
        p
        | Elden Ring generally has integrated the best, most cohesive mechanics from the many loved FromSoftware games, with an eye on accessibility.
        | They seem to have a good pipeline for mixing up old and new content to introduce fresh designs from their large library of assets.
        | (I can imagine why they'd relish an opportunity to dive into something else, like Armored Core.)
        P 
        | Couple onto this, and possibly worth another point on its own: The Community.  The community has discussed and documented Dark Souls to no end.  
        | Because most of the features and mechanics are the same, a lot of the information that’s been collected, studied, and analyzed for years was readily available. 
        | Everyone already knew how I-Frames work when rolling.  Many animations are all too familar, including nearly all of the weapon animations. 
        | Players were starting 0-hit runs on day 1 because much of the timing and tricks are easy to anticipate for experienced Souls players.
            


    div.subtitle='10. Playstyles made easy'
    div.imageContainer
        img.image(src="../images/gameDesign/EldenRingAccessibility/d6776141-d698-4ed8-a993-a95e6bb3e67e-elden-ring-pvp.jpeg")
    div.content='content'
    div.subtitle='Summary'
    div.imageContainer
        img.image(src="../images/gameDesign/EldenRingAccessibility/d6776141-d698-4ed8-a993-a95e6bb3e67e-elden-ring-pvp.jpeg")
    div.content='content'
        p
        | There you have it, a bunch of things that FromSoftware did with Dark Souls to make Elden Ring accessible to a wider audience.
        p
        | Do you agree with this list? Did I miss anything? Should Elden Ring have an easy mode?  How about a hard mode?


        
