extends tableOfContents

block content
    div.title='Table of Contents'
        hr
    div.image='image'
        p
    div.content
        ul.toc_content
            li.hide='Prologue'
                ul.toc_topic_content
                    li='Target Audience'
                    li='About This Book'
                    li='The Author'
        ul.toc_content
            li
                .title='Design 101'
                ul.toc_topic_content
                    li
                        .subtitle='Core Experience Design'
                        ul.toc_topic_subcontent
                            li
                                a(href='./PowerFantasy') Power Fantasy
                            li
                                a(href='./ProjectPillars') Project Pillars
                            li
                                a(href='./Expression') Expression
                            li
                                a(href='./PivotPivotPivot') Pivot Pivot Pivot
                            li
                                a(href='./WhatsAGame') What's a game?
                    li
                        .subtitle='Design Concepts & Compendium'
                        ul.toc_topic_subcontent
                            li
                                a(href='./SelfDeterminationTheory') SDT (Self Determination Theory)
                            li
                                a(href='./RetentionMechanics') Retention Mechanics
                            li
                                a(href='./CoreLoops') Core Loops
                            li.hide='Systemic Design'
                            li.hide='Coherent Design' 
                            li.hide='Signature Move'
                            li.hide='Puzzle Design'
                            li.hide='Player Choice: Open World, Sandbox, & Linear'
                            li.hide='Level Design and World Design'
                            li.hide='Progression & Progression Curves'
                            li.hide='Encounter Design'
                            li.hide='Prototype Design'
                            li.hide='Activity Design'
                            li
                                a(href='./Accessibility') Accessibilty
                    li.hide='Design Documentation'
                        ul.toc_topic_subcontent
                            li='GDD'
                            li='Pitch'
                            li='Concept/Prototype Brief'
                            li='Design Spec'
                    li.hide='Design Tools'
                        ul.toc_topic_subcontent
                            li='Spectrum'
                            li='2D Matrix'
                            li='Reduction'
                            li='Paradigms, Abstraction'
        ul.toc_content
            li
                .title='Game Development 101'
                ul.toc_topic_content
                    li
                        .subtitle='Game Development Framework - Project Cycle'
                        ul.toc_topic_subcontent
                            li
                                a(href='./AAAvsIndie') AAA vs Indie and around
                            li
                                a(href='./ProductPitch') Product Pitch
                            li
                                a(href='./ConceptDevelopment') Concept Development & Discovery
                            li
                                a(href='./PrototypePlan') Prototype & Feature Plan
                            li
                                a(href='./VerticalSlice') Vertical Slice & Pipeline Discovery
                            li
                                a(href='./ProductionQuality') Production & Quality Delivery
                            li
                                a(href='./ShipTheGame') Shipping & Finalling
                            li
                                a(href='./LiveService') Live Service
                    li
                        .subtitle='Development Cycle'
                        ul.toc_topic_subcontent
                            li
                                a(href='./SoftwareDevelopmentLifeCycle') Software Development Life Cycle
                            li
                                a(href='./AgileWaterfallDevelopment') Agile & Waterfall Development
                            li
                                a(href='./SprintsMilestonesReleases') Sprints, Milestones, Releases
                            li
                                a(href='./ScrumsReviews') Scrums, Reviews
                            li
                                a(href='./PlaytestingFeedback') Playtesting & Feedback
                            li
                                a(href='./DemosPrototypes') Demos, Prototypes
                    li.hide
                        .subtitle='Development Goals'
                        ul.toc_topic_subcontent
                            li='Backlog'
                            li='First Playable'
                            li='MVP'
                            li='Vertical & Horizontal Slices'
                            li='Demo'
                            li='Alpha, Beta'
                    li.hide='Team Structure'
                        ul.toc_topic_subcontent
                            li='Team Roles'
                            li='Who does what?'
                            li='Product Teams'
                    li.hide='Feedback Mechanisms' 
                        ul.toc_topic_subcontent
                            li='Validation'
                            li='Quality Tiers'
                            li='Software is Truth'
                            li='Data Analysis and Telemetry'
                            li='User Testing & User Experience'
                            li='Audience, Developers, Publishers'
                            li='Processes, Mortems, & Respectives'
                            li='Healthy Development'
                    li.hide='Industry Truths' 
                        ul.toc_topic_subcontent
                            li.hide='AAA vs AA vs Indie vs III'
                            li.hide='What bad development looks like'
                            li.hide='What good development looks like'
                            li.hide='How can I be effective?'
                            li.hide='Getting an industry job'
                            li.hide='How to learn to be a designer'
                            li.hide='Why projects fail'
        ul.toc_content
            li
                .title='Case Studies & Reference'
                ul.toc_topic_content
                    li
                        a(href='./EldenRingAccessibility') Elden Ring Accessibility
        

        
