extends tableOfContents

block content
    div.title='Power Fantasy'
    div.subtitle='What is Power Fantasy'
    div.content
        p. 
            Power Fantasy is a one-line sentence that describes the game's proposition to the player. 
            That is, what fantasy or set of experiences that the game enables for the player.
        p.
            You can often get an understanding of a game, movie, or book's 'power fantasy' by looking at the cover.
            This _should_ give you a good idea of what type of experience to expect.  
            The audience or observer will see this image and create an idea of what the game is about. 
        p.
            A power fantasy doesn't have to be powerful.  
            There are many examples of games and other art that have experiences that are novel to us.
            Survivalist games often leave players with limited resources and limited character abilities
            and create a novel experience about surviving a harsh environment.  
            Tetris is about arranging blocks.


    div.subtitle='Examples'
    div.content 
        p.
            Here are some examples of Power Fantasies.  
            I didn't spend a lot of time on these, so you may have better versions.  
            Feel free to critique and share.  :)
    div.table
        div.tableContainer
            div.tableheader
                div.tableTitle='Game'
                div.tableTitle='Power Fantasy'
            div.tablerow
                div.tableimagecontainer
                    img.tableimage(src="../images/gameDesign/PowerFantasy/3657_Fortnite.jpg")
                div.tabletext
                    div.tabletextsummary
                        div.tableTitle='Fortnite'
                        div.tableTitle='Create, Play, and Battle with Friends'
                    div.notes
                        div.tableTitle=`Fortnite evolved from its initial form, a PVE experience, to a Royale experience, to a cultural experience, and most recently to a user-generated experiences format.  It's general imagery conveys a wide sense of player expression, but does not describe the gameplay.`
            div.tablerow
                div.tableimagecontainer
                    img.tableimage(src="../images/gameDesign/PowerFantasy/ZeldaBreathOfTheWild.jpg")
                div.tabletext
                    div.tabletextsummary
                        div='Zelda: Breath Of The Wild'
                        div=`Young hero explores world to discover powerful abilities and save it`
                    div.notes
                        div=`The player has an array of versatile and systemic abilities, equipment that can be upgraded to overcome the game challenges, and a large selection of puzzles and feats in the world to accomplish.`
            div.tablerow
                div.tableimagecontainer
                    img.tableimage(src="../images/gameDesign/PowerFantasy/FarCry3.jpg")
                div.tabletext
                    div.tabletextsummary
                        div='Far Cry 3'
                        div='Conquer world of bad guys with a variety of tools'
                    div.notes
                        div='Far Cry 3 evolved from the previous incarnations of Far Cry which took themselves a bit more seriously with a heavier emphasis on survival.  Far Cry 3 eschewed that and focused on creating an experience where players had more agency.'
            div.tablerow
                div.tableimagecontainer
                    img.tableimage(src="../images/gameDesign/PowerFantasy/Tetris.jpg")
                div.tabletext
                    div.tabletextsummary
                        div='Tetris'
                        div='Masterfully arrange block patterns'
                    div.notes
                        div=`The appeal of Tetris is simple... can you arrange little colored blocks of various shapes faster than they stack?  This simple premise stands behind one of the most successful games in gaming history.  While this power fantasy doesn't exactly rank along with "become ultimate badass", it shows how simplicity speaks to the audience.`
            div.tablerow
                div.tableimagecontainer
                    img.tableimage(src="../images/gameDesign/PowerFantasy/PapersPlease.jpg")
                div.tabletext
                    div.tabletextsummary
                        div='Papers, Please'
                        div='Be a Border Agent in 3rd world country'
                    div.notes
                        div=`Whodathunk a game about stamping passports would be so successful.  This game showed people that games could be about any novel experience.  I've always wanted to see a Star Wars version of this; 'Transponder Code, Scum' with the premise being an Empire agent on the edge of the Empire's Reach.  It's cool to see the Star Wars shows are exploring these notions now, while they're not busy jumping the shark.`
            div.tablerow
                div.tableimagecontainer
                    img.tableimage(src="../images/gameDesign/PowerFantasy/AnimalCrossing.jpg")
                div.tabletext
                    div.tabletextsummary
                        div='Animal Crossing'
                        div='Creative control over a virtual animal kingdom'
                    div.notes
                        div=`Animal Crossing promises to let players shape and define their animal kingdom, and it succeeds.  Players all create their own varieties of kingdoms which are different and shareable with others.  This game is like The Sims but with animals, and offers a more relaxing and more escapeful experience.`
            div.tablerow
                div.tableimagecontainer
                    img.tableimage(src="../images/gameDesign/PowerFantasy/FlappyBird.jpg")
                div.tabletext
                    div.tabletextsummary
                        div='Flappy Bird'
                        div='Pilot a bird through an impossible course'
                    div.notes
                        div='This one is impossibly simple, and only became a phenomenon because of a viral aspect.  The simplicity of the premise make the game immediately understood by everyone, including the challenge.  Users played regardless of consistently dying after 15-30 seconds.'
            div.tablerow
                div.tableimagecontainer
                    img.tableimage(src="../images/gameDesign/PowerFantasy/Red_Dead_Redemption.jpg")
                div.tabletext
                    div.tabletextsummary
                        div='Red Dead Redemption'
                        div='Cowboy in the Wild West'
                    div.notes
                        div=`Everything in Red Dead Redemption 2 stems from living the Cowboy life.  This is Rockstar's special sauce and one they can deliver like no other.  The quality and depth they offer in their worlds creates a compelling experience that's easy to get drawn into.  Every feature in the game (except Zombies) supports the player living a Wild West fantasy.`
            div.tablerow
                div.tableimagecontainer
                    img.tableimage(src="../images/gameDesign/PowerFantasy/RE_4.jpg")
                div.tabletext
                    div.tabletextsummary
                        div='Resident Evil'
                        div='Survive a horror with limited resources'
                    div.notes
                        div='Residential Evil squarely puts players into the crosshairs of its promise.  All franchise, Resident Evil has painted players in corners and asked them to overcome experiences using their wits and resources, while simultanesouly delivering jump-scare and nerve-wracking gameplay.'
            div.tablerow
                div.tableimagecontainer
                    img.tableimage(src="../images/gameDesign/PowerFantasy/LOU.jpg")
                div.tabletext
                    div.tabletextsummary
                        div='Last Of Us'
                        div='Survive a dangerous world'
                    div.notes
                        div=`Last Of Us shows us that in 'the end of times' that humanity will continue to be our greatest enemy.  Clickers, Bloaters, etc can all be overcome, but humanity will always war against itself.`
            div.tablerow
                div.tableimagecontainer
                    img.tableimage(src="../images/gameDesign/PowerFantasy/Spiderman.jpg")
                div.tabletext
                    div.tabletextsummary
                        div='Spiderman'
                        div='Play as Spiderman'
                    div.notes
                        div=`This game delivered because it had one simple goal; make playing spiderman fun.  Through web-slinging features, wide range of combat options, accesibiltiy options, and a decent world narrative, Insomniac delivered on its promise to the player to let them play and enjoy a world as Spiderman.`
        
    div.content 
        p.
            One thing you'll notice is how much the core experience resonates with the power fantasy.
            It truly is the thing that excites and draws players to a game.
    div.subtitle='Why is it important?'
    div.content
        p. 
            The power fantasy is your covenant with the player.  
            They acquire your game, with the belief that the game will deliver the expected promise.
        p. 
            As a marketing tool, the Power Fantasy entices the player with an experience.
            The Power Fantasy also helps your game find its audience, and helps your audience find your game.
            And also helps your non-audience filter your game, which is good and prevents accidental bad coverage.
        p.
            Players quickly perceive your game's power fantasy and use it to decide if its an experience they are interested in having.
            There are many videos showing how quickly users make choices based on the available information impressed upon them in thumbnails, trailers, etc,
            so it's worthwhile to think about how you are demonstrating the power fantasy to your users throughout marketing content.
        p. 
            Most importantly, your game is judged against whether it delivered on its Power Fantasy proposition to the player.
            The player will ultimately ask themselves if the game satisfied their expectations.
            I can't think of many games that succeeded despite their power fantasy.  
        p.
            From a development point of view, the Power Fantasy acts as a razor that game development decisions should be driven from.
            Your game's pillars should align with the Power Fantasy, as well as all major features.  
            If a feature or idea doesn't fit within the power fantasy, 
            there's a good chance that it doesn't fit your game's core experience.
        
        p. 
            It's important to note that while cover art can convey visual quality about the game, 
            the power fantasy is not intended to declare visual quality of the game, unless that's a substantial part of the experience.
            Often a game's store page will include the power fantasy within the game's short description, 
            amongst other key information about the experience.
        p. 
            A second note is that Online features are a special case.  
            Social features are intended to extend a game by adding social dynamics, which can offer additional motivations for playing the game.
            For example, playing with friends, challenging leaderboards, discovering gameplay through messages, etc.
            These features don't necessarily line up with a game's Power Fantasy, as they serve a different purpose.  
            That said, some games like Souls games tend to do a good job of integrating these features narratively.

    div.subtitle='So when should I define my Power Fantasy?'
    div.content 
        p.
            Day 1.  As early as possible.
            If you don't know your Power Fantasy, your job is to discover it.
            How?
        p.
            Inspiration comes from anywhere, and this a good topic that's covered under 'Pivot Pivot'
            (( add href here ))
            I would start with modifying an existing game in a fundamental way. 
            This doesn't have to be a huge change, just a change that changes the core experience... 
            Preferably to something new and novel
    
        
