extends tableOfContents

block content
    div.title='Power Fantasy'
    div.subtitle='What is Power Fantasy'
    div.content
        p. 
            Power Fantasy is the experience the game enables for the player.  
            It is a simple expression of a game's core idea that describes the player's undertaking.
        p. 
            A game's Power Fantasy is often apparent from it's cover art or from store page images.
            When an audience sees this, they will already set their expectations and begin to create their own mental model of the game.
            If the game's promise hasn't already disillusioned the player, then the game may get a chance to satisfy or exceed the player's expectations.
        P.
            Despite the name, a power fantasy doesn't have to be about power.
            Because games are an interactive medium that allow us to experienceIt should be novel.
            There are many examples of games and other art that have experiences that are novel to us.
            Survivalist games often limit resources available to players and create harsh conditions.  
            Tetris is about arranging blocks.
        p.
            In development, the power fantasy becomes a validating pillar that ensures design is cohesive across the game and creates immersive experiences.

    div.subtitle='Examples'
    div.content 
        p.
            Mostly borrowed and inspired from the internet, and I made a few up.  
    div.table
        div.tableContainer
            //div.tableheader
                //div.tableTitle='Game'
                //div.tableTitle='Power Fantasy'
            div.tablerow
                div.tableimagecontainer
                    img.tableimage(src="../images/gameDesign/PowerFantasy/Fortnite_rs.png")
                div.tabletext
                    div.tableTitle='Create, Play, and Battle with Friends'
                    //div.notes
                        div.tableTitle=`Fortnite evolved from its initial form, a PVE experience, to a Royale experience, to a cultural experience, and most recently to a user-generated experiences format.  It's general imagery conveys a wide sense of player expression, but does not describe the gameplay.`
            div.tablerow
                div.tableimagecontainer
                    img.tableimage(src="../images/gameDesign/PowerFantasy/ZeldaBreathOfTheWild.jpg")
                div.tabletext
                    div.tableTitle=`Young hero adventures to save the world`
                    //div.notes
                        div=`The player has an array of versatile and systemic abilities, equipment that can be upgraded to overcome the game challenges, and a large selection of puzzles and feats in the world to accomplish.`
            div.tablerow
                div.tableimagecontainer
                    img.tableimage(src="../images/gameDesign/PowerFantasy/FarCry3_rs.png")
                div.tabletext
                    div.tableTitle='Conquer bad guy island'
                    //div.notes
                        div='Far Cry 3 evolved from the previous incarnations of Far Cry which took themselves a bit more seriously with a heavier emphasis on survival.  Far Cry 3 eschewed that and focused on creating an experience where players had more agency.'
            div.tablerow
                div.tableimagecontainer
                    img.tableimage(src="../images/gameDesign/PowerFantasy/Tetris_rs.png")
                div.tabletext
                    div.tableTitle='Arrange blocks in patterns'
                    //div.notes
                        div=`The appeal of Tetris is simple... can you arrange little colored blocks of various shapes faster than they stack?  This simple premise stands behind one of the most successful games in gaming history.  While this power fantasy doesn't exactly rank along with "become ultimate badass", it shows how simplicity speaks to the audience.`
            div.tablerow
                div.tableimagecontainer
                    img.tableimage(src="../images/gameDesign/PowerFantasy/PapersPlease_rs.png")
                div.tabletext
                    div.tableTitle='3rd world country border agent'
                    //div.notes
                        div=`Whodathunk a game about stamping passports would be so successful.  This game showed people that games could be about any novel experience.  I've always wanted to see a Star Wars version of this; 'Transponder Code, Scum' with the premise being an Empire agent on the edge of the Empire's Reach.  It's cool to see the Star Wars shows are exploring these notions now, while they're not busy jumping the shark.`
            div.tablerow
                div.tableimagecontainer
                    img.tableimage(src="../images/gameDesign/PowerFantasy/AnimalCrossing_rs.png")
                div.tabletext
                    div.tableTitle='Creative control over a virtual animal kingdom'
                    //div.notes
                        div=`Animal Crossing promises to let players shape and define their animal kingdom, and it succeeds.  Players all create their own varieties of kingdoms which are different and shareable with others.  This game is like The Sims but with animals, and offers a more relaxing and more escapeful experience.`
            div.tablerow
                div.tableimagecontainer
                    img.tableimage(src="../images/gameDesign/PowerFantasy/FlappyBird_rs.png")
                div.tabletext
                    div.tableTitle='Navigate a bird through an impossible course'
                    //div.notes
                        div='This one is impossibly simple, and only became a phenomenon because of a viral aspect.  The simplicity of the premise make the game immediately understood by everyone, including the challenge.  Users played regardless of consistently dying after 15-30 seconds.'
            div.tablerow
                div.tableimagecontainer
                    img.tableimage(src="../images/gameDesign/PowerFantasy/RedDeadRedemption_rs.png")
                div.tabletext
                    div.tableTitle='Wild West Story'
                    //div.notes
                        div=`Everything in Red Dead Redemption 2 stems from living the Cowboy life.  This is Rockstar's special sauce and one they can deliver like no other.  The quality and depth they offer in their worlds creates a compelling experience that's easy to get drawn into.  Every feature in the game (except Zombies) supports the player living a Wild West fantasy.`
            div.tablerow
                div.tableimagecontainer
                    img.tableimage(src="../images/gameDesign/PowerFantasy/RE4_rs.png")
                div.tabletext
                    div.tableTitle='Horror survival with limited resources'
                    //div.notes
                        div='Residential Evil squarely puts players into the crosshairs of its promise.  All franchise, Resident Evil has painted players in corners and asked them to overcome experiences using their wits and resources, while simultanesouly delivering jump-scare and nerve-wracking gameplay.'
            div.tablerow
                div.tableimagecontainer
                    img.tableimage(src="../images/gameDesign/PowerFantasy/LOU_rs.png")
                div.tabletext
                    div.tableTitle='Survive a dangerous world'
                    //div.notes
                        div=`Last Of Us shows us that in 'the end of times' that humanity will continue to be our greatest enemy.  Clickers, Bloaters, etc can all be overcome, but humanity will always war against itself.`
            div.tablerow
                div.tableimagecontainer
                    img.tableimage(src="../images/gameDesign/PowerFantasy/Spiderman_rs.png")
                div.tabletext
                    div.tableTitle='Play as Spiderman'
                    //div.notes
                        div=`This game delivered because it had one simple goal; make playing spiderman fun.  Through web-slinging features, wide range of combat options, accesibiltiy options, and a decent world narrative, Insomniac delivered on its promise to the player to let them play and enjoy a world as Spiderman.`
    div.content 
        p.
            Images courtesy of Epic, Nintendo, Ubisoft, Tetris, Lucas Pope, Dong Nguyen, Rockstar, Capcom, Naughty Dog, and Insomniac

    div.subtitle="Why is Power Fantasy important?"
    div.content
        p. 
            The power fantasy is your covenant with the player.  
            They acquire your game, with the belief that the game will deliver the expected promise.
        p. 
            As a marketing tool, the Power Fantasy entices the player with an experience.
            The Power Fantasy also helps your game find its audience, and helps your audience find your game.
            And also helps your non-audience filter your game, which is good and prevents accidental bad coverage.
        p.
            Players quickly perceive your game's power fantasy and use it to decide if its an experience they are interested in having.
            There are many videos showing how quickly users make choices based on the available information impressed upon them in thumbnails, trailers, etc,
            so it's worthwhile to think about how you are demonstrating the power fantasy to your users throughout marketing content.
        p. 
            Most importantly, your game is judged against whether it delivered on its Power Fantasy proposition to the player.
            The player will ultimately ask themselves if the game satisfied their expectations.
        p.
            From a development point of view, the Power Fantasy acts as a razor that game development decisions should be driven from.
            Your game's pillars should align with the Power Fantasy, as well as all major features.  
            If a feature or idea doesn't fit within the power fantasy, 
            there's a good chance that it doesn't fit your game's core experience.
        p. 
            It's important to note that while cover art can convey visual quality about the game, 
            the power fantasy is not intended to declare visual quality of the game, unless that's a substantial part of the experience.
            Often a game's store page will include the power fantasy within the game's short description, 
            amongst other key information about the experience.
        p. 
            A second note is that Online features are a special case.  
            Social features are intended to extend a game by adding social dynamics, which can offer additional motivations for playing the game.
            For example, playing with friends, challenging leaderboards, discovering gameplay through messages, etc.
            These features don't necessarily line up with a game's Power Fantasy, as they serve a different purpose.  
            That said, some games like Souls games tend to do a good job of integrating these features narratively.

    div.subtitle='When and how should I define my Power Fantasy?'
    div.content 
        p.
            Every day of your project.  As early as possible.
            If you don't know your Power Fantasy, your job is to discover it.
        p.
            Inspiration comes from anywhere, and this a good topic that's covered under (('Pivot Pivot')).
            One way is to start with modifying an existing game in a fundamental way that evolves the core experience.
        p.
            For the process of pursuing and identifying a power fantasy, I would follow the (('Action Blocks')) route.
            It is essentially a scattershot process that generates a diverse array of results.
            Dream up 20-100 games with modified rules and mechanics and arrange them on a board.
            Use criteria if necessary.  E.g. multiplayer, live services, etc.
            Adopt a simple format, e.g. card with image, title, power fantasy one-liner (Resist the urge to add details).
            Compare and contrast the results, and identify common threads; motivating ideas, new and ownable territory, content rich, feasibility & risks.
            Choose a few and explore expressions of corresponding power fantasies through concept discovery.
    
        
