extends portfolio_guide 

block content
    hr
    div.title="JW Mouse Highlighter - Python (2025)"
    div.subtitle
        #[a(href="https://github.com/jambalayadog/JWMouseHighlighter" target="_blank") JW Mouse Highlighter]
    div.portfolioTable
        div.portfolioTableRow
            div.portfolioContent
                div.portfolioContentImage
                    #[a(href="https://github.com/jambalayadog/JWMouseHighlighter" target="_blank") #[img.portfolioContentImage(src='../images/gameDesign/portfolio/JWMouseHighlighter_Preview.png')]]
            div.portfolioWriteUp
                li #[a(href="https://github.com/jambalayadog/JWMouseHighlighter" target="_blank") JW Mouse Highlighter]
                    ul.nested
                        li.nested Makes it easy to identify and follow the mouse without being obtrusive
                        li.nested Highlights the user's mouse with a circular highlight
                        li.nested Emphasizes the user's mouse clicks with a click marker
                        li.nested Customizable features; color, size, transparency, # of clicks, etc
                li I wrote my own version of this app because the version I was using didn't run in the system tray and couldn't be managed well
                    ul.nested
                        li.nested Built in Python using PyQt5
                        li.nested Has an Installer
                        li.nested Runs in System Tray
                        li.nested Can be set as Startup App
                li This project was completed over a couple of weekends
                    ul.nested 
                        li.nested Prototype on the first weekend, and refined on the second weekend
                        li.nested Anyone is free to build off of it!
    hr
    div.title="Wordle Project - Godot (2024)"
    div.subtitle="Infinite Wordle"
    div.portfolioTable
        div.portfolioTableRow
            div.portfolioContent
                div.portfolioContentImage
                    #[a(href="https://fantasyhockeycentral.com/game_helloWordle" target="_blank") #[img.portfolioContentImage(src='../images/gameDesign/portfolio/brave_MSZ0XOyfG1.png')]]
            div.portfolioWriteUp
                li #[a(href="https://fantasyhockeycentral.com/game_helloWordle" target="_blank") Infinite Wordle]
                li I made an infinite Wordle game because my mom loves Wordle and it was a good way to brush up on Godot.
                li This project took a couple of weeks to do.
                li This was made in Godot using gdscript, exported to html + webpack, and hosted on my server.
                li I reverse engineered a few features of Wordle, e.g. letter animation when guessing words, and made a few changes:
                    ul.nested 
                        li.nested Optimized features like the speed of analyzing guessed words
                        li.nested No daily limit, players can play forever
                        li.nested Reveal the answer when you don't get it
                        li.nested Added the ability to give up because sometimes no one wants to sit there stuck
                li There is a ton of Wordle projects out there, and lots of research has gone into word lists... Wordle now curates their word each day.
    hr
    div.title="Hockey Website - Javascript + Express + Pug (2023)"
    div.subtitle
        #[a(href="https://fantasyhockeycentral.com" target="_blank") FantasyHockeyCentral.com]
    div.portfolioTable
        div.portfolioTableRow
            div.portfolioContent
                div.portfolioContentImage
                    #[a(href="https://fantasyhockeycentral.com" target="_blank") #[img.portfolioContentImage(src='../images/gameDesign/portfolio/brave_5aCZQZmBgO.png')]]
            div.portfolioWriteUp
                li #[a(href="https://fantasyhockeycentral.com" target="_blank") Fantasy Hockey Central]
                li I made this website because I wanted to practice web development
                    ul.nested 
                        li.nested I assembled it with javascript, html, css, node stuffs, digital ocean, ubuntu, hockey data, etc 
                        li.nested Data gets scraped from the NHL website, and then gets magicked into a db, and then gets served on a droplet in NYC
    hr
    div.title="Electronic Arts - Internal Game Jam 2019 Entry"
    div.subtitle="Rapid Prototyping Initiative"
    div.portfolioTable
        div.portfolioTableRow
            div.portfolioContent
                div.portfolioContentImage
                    img.portfolioContentImage(src='../images/gameDesign/portfolio/rpcheque.png')
            div.portfolioWriteUp
                li I partnered with a Strategic Development Director on the opposite side of game development after he became interested in a post I made on our internal Slack
                    ul.nested
                        li.nested Together we developed a strategy to use available resources within EA to enable an indie-style development culture
                        li.nested This strategy involved consulting with a number of teams within EA, usually central teams like our Archival team, our IT team, etc to identify if they possess the ability to meet our requirements
                        li.nested They did, and my partner and I sat out to prove out the pipeline and the theory 
                        li.nested The premise of theory was basic: make EA's vast catalog of assets available
                li To prove this out, we would enter the Game Jam, and I, with help from Archival, IT, and my own project access, would build 1 or more games within 48 hours for the EA Game Jam 
                    ul.nested 
                        li.nested I used Mass Effect assets to build a crude auto-battler, which were popular at the time
                        li.nested I used Star Wars Battlefront 2's assets to build a small demo for the game jam 
                li After the finalists from the Game Jam were selected, we had to present to a panel of judges / Game Directors, and we received 2nd place for our efforts
                li In the end, I drew on some of the techniques of rapid prototyping to rapidly prototype and create demos on future projects
                    ul.nested 
                        li.nested This would later inform processes for a couple associated dev teams to also adopt this method to facilitate rapid prototyping
    hr
    div.title="Electronic Arts - Design Guild (2015)"
    div.subtitle="EA Design Guild"
    div.portfolioTable
        div.portfolioTableRow
            div.portfolioContent
                div.portfolioContentImage
                    img.portfolioContentImage(src='../images/gameDesign/portfolio/designguilds_badge.png')
            div.portfolioWriteUp
                li This is more symbollic than eventful, as the discipline Guilds were a short-lived experience
                    ul.nested
                        li.nested Select Designers from across EA's studios met once a year at HQ in EA Redwood Shores
                        li.nested Shared design experiences within project development; with each of us coming from different types of projects
                        li.nested Met with CEO Andrew Wilson to talk about future of gaming 
                        li.nested Members were also required to prepare introductory video
    hr
    div.title="Electronic Arts - Skate 3 Launch Event @ London (2010)"
    div.subtitle="EA Showcase London"
    div.portfolioTable
        div.portfolioTableRow
            div.portfolioContent
                div.portfolioContentImage
                    //<iframe src="../images/gameDesign/portfolio/Skate 3 - EA Showcase Video.mp4#t=4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    <iframe src="https://www.youtube.com/embed/WRO58-NyUS8?si=GdRogqIpsF220B7D&amp;start=4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    //<iframe src="https://www.youtube.com/embed/FgYX2JTbIdA?si=NZFcRhxsbg28aBFF&amp;start=744" 
            div.portfolioWriteUp
                li I was lucky enough to be chosen to represent Skate 3 at our London EA Showcase Event
                    ul.nested
                        li.nested This event featured a number of EA published games, and was a great chance to socialize with marketing
                        li.nested The event was two grueling days, 9-9 each day, with after events
                        li.nested We hired local skaters to skate ramps in a long narrow hallway right by our playable Skate demo machines
                        li.nested I gave many on-the-spot interviews and hands-on demos to many video game journalists and press
                        li.nested I worked with the event M.C. to help coordinate a live competition during the first day's evening press party
