- const portfolio_map = new Map()
- portfolio_map.set(1,{name:'R&D', path:'/portfolio/rAndD', image:"../images/gameDesign/portfolio/brave_Q6xtijwsQ8.png"})
- portfolio_map.set(2,{name:'Gears 5', path:'/portfolio/Gears5', image:"../images/gameDesign/portfolio/gears5.jpg"})
- portfolio_map.set(3,{name:'Plants Vs Zombies: Battle For Neighborville', path:'/portfolio/pvzbfn', image:"../images/gameDesign/portfolio/PVZBFN.jpg"})
- portfolio_map.set(4,{name:'Star Wars: Battlefront 2', path:'/portfolio/swbf2', image:"../images/gameDesign/portfolio/SWBF2_box.jpg"})
- portfolio_map.set(5,{name:'FIFA 2017', path:'/portfolio/fifa2017', image:"../images/gameDesign/portfolio/FIFA_17_cover.jpg"})
- portfolio_map.set(6,{name:"Plants Vs Zombies: Garden Warfare 2", path:'/portfolio/pvzgw2', image:"../images/gameDesign/portfolio/490386_IGDB-272x380.jpg"})
- portfolio_map.set(7,{name:'Battlefield: Hardline', path:'/portfolio/bfhardline', image:"../images/gameDesign/portfolio/Battlefield_Hardline.jpg"})
- portfolio_map.set(8,{name:'Need For Speed: Rivals', path:'/portfolio/nfsRivals', image:"../images/gameDesign/portfolio/Need_for_Speed_Rivals_cover.jpg"})
- portfolio_map.set(9,{name:"Army Of Two: Devil's Cartel", path:'/portfolio/ao2dc', image:"../images/gameDesign/portfolio/ArmyOfTwo3.jpg"})
- portfolio_map.set(10,{name:"Medal of Honor: Warfighter", path:'/portfolio/warfighter', image:"../images/gameDesign/portfolio/Warfighter.jpg"})
- portfolio_map.set(11,{name:'Need For Speed: The Run', path:'/portfolio/nfstherun', image:"../images/gameDesign/portfolio/Needforspeedtheruncover.jpg"})
- portfolio_map.set(12,{name:'Skate 1/2/3', path:'/portfolio/skate123', image:"../images/gameDesign/portfolio/skate.png"})
- portfolio_map.set(13,{name:'QA Development Manager', path:'/portfolio/qamanager', image:"../images/gameDesign/portfolio/Madden06.jpg"})
- portfolio_map.set(14,{name:'QA Tester', path:'/portfolio/qatester', image:"../images/gameDesign/portfolio/Need_for_Speed_Underground_cover.jpg"})


html
head
    title='Jordan Watt Game Dev Portfolio'
    link(rel='stylesheet', href='/stylesheets/portfolio/portfolio.css')
    //- console.log(title)
body
    - let page_index = 0
    - let counter = 0
    div.pageContainer
        div.headerContainer
            div="Game Designer & Developer Portfolio"
            div.authorContainer
                div='Jordan Watt'
        div.portfolioContainer                
            div.navigationContainer
                - portfolio_map.forEach(item => {
                        //- console.log(item, item['name'], item['path'])
                    a.navItem(href=item['path'])
                        img.navImg(src=item['image'])
                        div.navTitle=item['name']
                - })
            div.contentContainer
                block content
        div.footerContainer
            //div='back'
                //- page_index -= 1
                //- page_index = Math.max(0, page_index)
            //div='table of contents'
            //div='forward'
                //- console.log(#{page_index})
                //- page_index =+ 1
                //- page_index = Math.min(table_of_contents_map.size, page_index)
            //div='copyright me @ 2023'