extends portfolio_guide 

block content
    hr
    div.title="People Can Fly: Unannounced - Principal Technical Level Designer - 2023-Current"

    div.subtitle="Unannounced"
    div.portfolioTable
        div.portfolioTableRow
            div.portfolioContent
                div.portfolioContentImage
                    <iframe src="https://www.youtube.com/embed/Ng7hOrKkrhc?si=7J46cb0Vv_KRnDB8&amp;start=9" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            div.portfolioWriteUp
                li Build and prototype game modes for a AAA title in Unreal Engine 5
                    ul.nested 
                        li.nested I work closely with designers & team to validate and prototype design
                        li.nested Whilst also working with engineers to plan for and implement system architecture
                        li.nested And working cross-discipline to identify and implement UI, Audio, VFX requirements
                li I also build and design levels, and guide LDs through map creation process 
                    ul.nested 
                        li.nested Collaborate with Art to ensure maps remain gameplay performance through art integration process 
                        li.nested Troubleshoot complex gameplay setups and provide direction and resolution
                        li.nested Script dynamic gameplay events within levels
                li Create tools to support pipelines and automate development
                    ul.nested 
                        li.nested Tools for LDs to easily analyze map info and automate implementation of map features 
                        li.nested Tools for UX and other teams to explore and expedite pipeline processes related to maps
                li Build strategy with our Leadership group for delivering maps from concept through production
                li Plan deliverable requirements and timelines for maps and modes with production and our development partners
    hr
    div.title="Sumo Digital: Unannounced - Principal Technical Designer - 2021-2023"
    
    div.subtitle="Unannounced"
    div.portfolioTable
        div.portfolioTableRow
            div.portfolioContent
                div.portfolioContentImage
                    <iframe src="https://www.youtube.com/embed/5Jn38IQMpSk?si=igcSaAm0HCtF0LLd" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            div.portfolioWriteUp
                li As Principal Technical Designer at Sumo Digital, I led the creation and prototyping of multiplayer gameplay features for a AAA title in Unreal Engine 5. 
                li Planned project milestones, feature objectives, and roadmaps to deliver key systems on time for a core feature
                li Worked closely with design, engineering, and content teams to align high-level design with technical implementation, ensuring solid design foundations that lead to practical and effective prototypes.
                    ul.nested 
                        li.nested Provided guidance on best practices in implementation, scripting, and workflow optimization
                        li.nested Created technical documentation, demos, and guides to support development and improve efficiency across the team.
                li Career + Project-managed, and mentored a team of technical designers.
                    ul.nested 
                        li.nested When one of my technical designers became project-less for multiple months in a row, I began to find creative opportunities to keep him meaningfully involved
                li Worked with the Technical Design Director and other Technical Design Leads to help establish foundations of the Technical Design department across Sumo Digital
    hr
    div.title="Electronic Arts - Game Jam 2019 Entry"
    div.subtitle="Rapid Prototyping Initiative"
    div.portfolioTable
        div.portfolioTableRow
            div.portfolioContent
                div.portfolioContentImage
                    img.portfolioContentImage(src='../images/gameDesign/portfolio/rpcheque.png')
            div.portfolioWriteUp
                li I partnered with a Strategic Development Director on the opposite side of EA after he became interested in a post I made on our internal Slack
                    ul.nested
                        li.nested Together we developed a strategy to use available resources within EA to enable an indie-style development culture
                        li.nested This strategy involved consulting with a number of teams within EA, usually central teams like our Archival team, our IT team, etc to identify if they possess the ability to meet our requirements
                        li.nested They did, and my partner and I sat out to prove out the pipeline and the theory 
                        li.nested The premise of theory was basic: make EA's vast catalog of assets available
                li To prove this out, we would enter the Game Jam, and I, with help from Archival, IT, and my own project access, would build 1 or more games within 48 hours for the EA Game Jam 
                    ul.nested 
                        li.nested I used Mass Effect assets to build a crude auto-battler, which were popular at the time
                        li.nested I used Star Wars Battlefront 2's assets to build a small demo for the game jam 
                li We ended up with Runner-Up for our efforts 
                li In the end, I drew on some of the techniques of rapid prototyping and leveraged a mature development environment and readily available content to rapidly prototype and create demos on future projects
                    ul.nested 
                        li.nested This would later inform processes for a couple associated dev teams to also adopt this method to facilitate rapid prototyping
    hr
    div.title="Wordle Project - Godot (2024)"
    div.subtitle="Infinite Wordle"
    div.portfolioTable
        div.portfolioTableRow
            div.portfolioContent
                div.portfolioContentImage
                    #[a(href="https://fantasyhockeycentral.com/game_helloWordle") #[img.portfolioContentImage(src='../images/gameDesign/portfolio/brave_MSZ0XOyfG1.png')]]
            div.portfolioWriteUp
                li #[a(href="https://fantasyhockeycentral.com/game_helloWordle") Infinite Wordle]
                li I made an infinite Wordle game because my mom loves Wordle and it was a good way to brush up on Godot.
                li This project took a couple of weeks to do.
                li This was made in Godot using gdscript, exported to html + webpack, and hosted on my server.
                li I reverse engineered a few features of Wordle, e.g. letter animation when guessing words, and made a few changes:
                    ul.nested 
                        li.nested Optimized features like the speed of analyzing guessed words
                        li.nested No daily limit, players can play forever
                        li.nested Reveal the answer when you don't get it
                        li.nested Added the ability to give up because sometimes no one wants to sit there stuck
                li There is a ton of Wordle projects out there, and lots of research has gone into word lists... Wordle now curates their word each day.
                
                