extends portfolio_guide 

block content
    hr
    div.title="People Can Fly: Unannounced - Principal Technical Level Designer - 2023-Current"

    div.subtitle="Unannounced"
    div.portfolioTable
        div.portfolioTableRow
            div.portfolioContent
                div.portfolioContentImage
                    <iframe src="https://www.youtube.com/embed/Ng7hOrKkrhc?si=7J46cb0Vv_KRnDB8&amp;start=9" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            div.portfolioWriteUp
                li I am responsible for building and prototyping game modes for a AAA title
                    ul.nested 
                        li.nested I work closely with designers to validate and prototype design
                        li.nested Whilst also working with engineers to plan for and implement system architecture
                        li.nested And working with additional departments to implement UI, Audio, VFX
                li I build tools to support pipelines
                    ul.nested 
                        li.nested Tools for LDs to easily analyze map info and automate implementation of map features 
                        li.nested Tools for UX and other teams to explore and expedite pipeline processes related to maps
                li I work with our Design Director to build strategy for delivering maps from concept through production
                li I work with production and our partners to plan requirements and deliverable timelines for maps and modes
    hr
    div.title="Sumo Digital: Unannounced - Principal Technical Designer - 2021-2023"
    
    div.subtitle="Unannounced"
    div.portfolioTable
        div.portfolioTableRow
            div.portfolioContent
                div.portfolioContentImage
                    img.portfolioContentImage(src='../images/gameDesign/portfolio/brave_DNYltyH6RX.png')
            div.portfolioWriteUp
                li As Principal Technical Designer at Sumo Digital, I led the creation and prototyping of gameplay features for a AAA title in Unreal Engine 5. 
                li I worked closely with design, engineering, and content teams to align high-level design with technical implementation, ensuring solid design foundations that lead to practical and effective prototypes.
                li I planned project milestones, feature objectives, and roadmaps to deliver key systems on time for a core feature
                li I provided guidance on best practices in implementation, scripting, and workflow optimization
                li I also created technical documentation, demos, and tools to support development and improve efficiency across the team.
                li Managed and mentored a team of technical designers. 
                li Worked with the Technical Design Director and other Technical Design leads to help establish foundations of the Technical Design department across Sumo Digital
    hr
    div.title="Electronic Arts - Game Jam 2019 Entry"
    div.subtitle="Rapid Prototyping Initiative"
    div.portfolioTable
        div.portfolioTableRow
            div.portfolioContent
                div.portfolioContentImage
                    img.portfolioContentImage(src='../images/gameDesign/portfolio/Rapid Prototyping Diagramm - PROTIQ.png')
            div.portfolioWriteUp
                li I parted with a Strategic Development Director on the opposite side of EA after he became interested in a post I made
                li Together we developed a strategy to use available resources within EA to enable an indie-style development culture
                li This strategy involved consulting with a number of teams within EA, usually central teams like our Archival team, our IT team, etc to identify if they possess the ability to meet our requirements
                li They did, and my partner and I sat out to prove out the pipeline and the theory 
                li The premise of theory was basic: make EA's vast catalog of assets available
                li To prove this out, we would enter the Game Jam, and I, with help from Archival, IT, and my own project access, would build 1 or more games within 48 hours for the EA Game Jam 
                    ul.nested 
                        li.nested I used Mass Effect assets to build a crude auto-battler, which were popular at the time
                        li.nested I used Star Wars Battlefront 2's assets to build a small demo for the game jam 
                li We ended up with Runner-Up for our efforts 
                li In the end, I used the same techniques of prototype with a mature development environment and readily available content to rapidly prototype and create demos on future projects, which would later inform processes for associated teams to also rapidly prototype.
    hr
    div.title="Wordle Project - Godot (2024)"
    div.subtitle="Infinite Wordle"
    div.portfolioTable
        div.portfolioTableRow
            div.portfolioContent
                div.portfolioContentImage
                    #[a(href="https://fantasyhockeycentral.com/game_helloWordle") #[img.portfolioContentImage(src='../images/gameDesign/portfolio/brave_ksOd6QlH9w.png')]]
            div.portfolioWriteUp
                li #[a(href="https://fantasyhockeycentral.com/game_helloWordle") Infinite Wordle]
                li I made an infinite Wordle game because my mom love Wordle and it was a good way to brush up on Godot.
                li This project took a couple of weeks to do.
                li This was made in Godot using gdscript, exported to html + webpack, and hosted on my server.
                li I reverse engineered a few features of Wordle, e.g. letter animation when guessing words
                    ul.nested 
                        li.nested and optimized some features like the speed of guessing words
                        li.nested and opted for no daily limit 
                        li.nested and revealing the answer 
                        li.nested and the ability to give up
                li There is a ton of Wordle projects out there, and it was easy to find word lists... Wordle now curates their word each day.
                
                