extends portfolio_guide 

block content
    hr
    div.title='Skate 1 (2007) - Assistant Game Designer'
        
    div.subtitle="Challenge Designer"
    div.portfolioTable
        div.portfolioTableRow
            div.portfolioContent
                div.portfolioContentImage
                    //<iframe src="https://www.youtube.com/embed/pQUR-mrObGY?si=-QoIbLCIl353Zcjn" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    <iframe src="https://www.youtube.com/embed/FgYX2JTbIdA?si=NZFcRhxsbg28aBFF&amp;start=744" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            div.portfolioWriteUp
                li.
                    Joined a few months before alpha and quickly became the challenge implementation POC for designers and engineers. 
                li.
                    Making challenges required setting up volumes and locators in Maya, exporting that data to our Attribulator system, and created Lua scripts to evaluate player trick criteria. 
                li.
                    Developed over 30 challenges of varying types: Photo challenges, Film lines, SKATE, Deathraces, Best tricks competitions, and Jams. 
                li.
                    Also built Pro Challenges with unique gameplay requirements, sometimes with long or complex lines that tested the rng limits of thee AI and traffic systems. 
                li.
                    Worked very closely with environment artists to find spots for challenges, and tune and tweak world elements to create fun spots for challenges.
                li.
                    Designed text and audio for challenges, including pro dialogue, and set up challenge sign-ups throughout the world.
                li.    
                    Designed custom trick locators for challenges, and worked with Art Director to design common challenge locators. 

    div.title='Skate 2 (2009) - Associate Game Designer'                

    div.subtitle="Challenge Designer"
    div.portfolioTable
        div.portfolioTableRow
            div.portfolioContent
                div.portfolioContentImage
                    //img(src="../images/gameDesign/portfolio/Skate_2_Cover.jpg")
                    <iframe src="https://www.youtube.com/embed/sSveyOtp1eE?si=aelUesK3YCYFbYxv&amp;start=287" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            div.portfolioWriteUp
                li.
                    Became design owner for designing all challenge types, carrying over challenge types from Skate 1, and...
                li.
                    Designed new challenge types and features like Hall Of Meat, and the ability to "own" and "kill" challenges for high scores. 
                li.
                    Worked closely with engineers to add challenge features and extend challenge support, and worked closely with UX team to create UI requirements.
                li.
                    Built challenges for multiple districts and worked closely with environment artists, often perfecting rails and slopes down to individual vertices. 
                li.
                    Created intro area where players get a primer on new tricks                
                li.
                    Helped other designers set up and troubleshoot challenges, often taking ownership of challenge functionality of challenges
    
    div.title='Skate 3 (2010) - Associate Game Designer'

    div.subtitle="Challenge Designer + Skate School"
    div.portfolioTable
        div.portfolioTableRow
            div.portfolioContent
                div.portfolioContentImage
                    //img(src="../images/gameDesign/portfolio/Skate-3-Boxart.jpg")
                    <iframe src="https://www.youtube.com/embed/NvgCeMbM0ZA?si=kCkruUepYP3tPZSB" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            div.portfolioWriteUp
                li.
                    Led challenge design across multiple districts, and introduced 'Own The Lot' challenges, wanting to add some THPS-like challenges for players
                li.
                    I built Skate School, a tutorial area designed to teach players to Skate, complete with Coach Frank.
                li.
                    I collaborated closely with progression to plot out challenges across the districs.
                li.
                    Skated and recorded AI used in all three Skate games for ambient background skater AI as well as competition and race AI.  
                li.    
                    Represented the game at a London, UK launch event, engaging with the media and hosting a competition during an evening ceremony. 
                li.
                    I enjoyed the perks of free skater shoes during these projects... and never needed to buy any shoes for about 5 years.
