extends portfolio_guide 

block content
    hr
    div.title="People Can Fly: Unannounced - Principal Technical Level Designer - 2023-Current"

    div.subtitle="Unannounced"
    div.portfolioTable
        div.portfolioTableRow
            div.portfolioContent
                div.portfolioContentImage
                    <iframe src="https://www.youtube.com/embed/Ng7hOrKkrhc?si=7J46cb0Vv_KRnDB8&amp;start=9" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            div.portfolioWriteUp
                li Build and prototype game modes for a AAA title in Unreal Engine 5
                    ul.nested 
                        li.nested I work closely with designers & team to validate and prototype design
                        li.nested Whilst also working with engineers to plan for and implement system architecture
                        li.nested And working cross-discipline to identify and implement UI, Audio, VFX requirements
                li I also build and design levels, and guide LDs through map creation process 
                    ul.nested 
                        li.nested Collaborate with Art to ensure maps remain gameplay performance through art integration process 
                        li.nested Troubleshoot complex gameplay setups and provide direction and resolution
                        li.nested Script dynamic gameplay events within levels
                li Create tools to support pipelines and automate development
                    ul.nested 
                        li.nested Tools for LDs to easily analyze map info and automate implementation of map features 
                        li.nested Tools for UX and other teams to explore and expedite pipeline processes related to maps
                li Build strategy with our Leadership group for delivering maps from concept through production
                li Plan deliverable requirements and timelines for maps and modes with production and our development partners
    hr
    div.title="Sumo Digital: Unannounced - Principal Technical Designer - 2021-2023"
    
    div.subtitle="Unannounced"
    div.portfolioTable
        div.portfolioTableRow
            div.portfolioContent
                div.portfolioContentImage
                    <iframe src="https://www.youtube.com/embed/5Jn38IQMpSk?si=igcSaAm0HCtF0LLd" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            div.portfolioWriteUp
                li As Principal Technical Designer at Sumo Digital, I led the creation and prototyping of multiplayer gameplay features for a AAA title in Unreal Engine 5. 
                li Planned project milestones, feature objectives, and roadmaps to deliver key systems on time for a core feature
                li Worked closely with design, engineering, and content teams to align high-level design with technical implementation, ensuring solid design foundations that lead to practical and effective prototypes.
                    ul.nested 
                        li.nested Provided guidance on best practices in implementation, scripting, and workflow optimization
                        li.nested Created technical documentation, demos, and guides to support development and improve efficiency across the team.
                li Career + Project-managed, and mentored a team of technical designers.
                    ul.nested 
                        li.nested When one of my technical designers became project-less for multiple months in a row, I began to find creative opportunities to keep him meaningfully involved
                li Worked with the Technical Design Director and other Technical Design Leads to help establish foundations of the Technical Design department across Sumo Digital
    hr
    div.title="Microsoft / The Coalition: Gears of War 5 - 2020-2021"
    div.subtitle="Senior Gameplay Designer"
    div.portfolioTable
        div.portfolioTableRow
            div.portfolioContent
                div.portfolioContentImage
                    <iframe src="https://www.youtube.com/embed/vi0CJyz48nk?si=PzM9D8cibXbAe8OF" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            div.portfolioWriteUp
                li Designed and shipped maps for multiplayer game modes for Gears 5.  
                    ul.nested
                        li.nested Configured and maintained PvE and PvP game modes, collision, spawners, and cinematics for Versus maps
                li Prototyped game features for an unannounced Unreal Engine 5 project
                    ul.nested 
                        li.nested Designed levels and created supporting game features to demonstrate game concepts
                        li.nested Created sandbox gyms for core game feature to support engineering development and concept inspiration
    hr
    div.title="Electronic Arts: Numerous - 2002-2020"
    div.subtitle="Senior Gameplay Designer (2006-2020),  QA Tester + Development Manager (2002-2006)"
    div.portfolioTable
        div.portfolioTableRow
            div.portfolioContent
                div.portfolioContentImage
                    <iframe src="https://www.youtube.com/embed/oxUBnHy4QMg?si=VP2kYfa4n13Blo5z" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            div.portfolioWriteUp
                li Shipped a large number of experiences over a range of franchises and genres
                    ul.nested 
                        li.nested Built game modes and created characters, abilities, and AI for multiplayer games like Plants vs Zombies Garden Warfare 2 and also Battle For Neighborville
                        li.nested Designed levels and missions for story mode FPS games like Battlefield 2: Hardline, Medal Of Honor: Warfighter, and Star Wars: Battlefront 2 
                        li.nested Designed challenges for action open world games like Skate and Need For Speed: Rivals
                        li.nested Focused on driving and racing with Need For Speed: The Run (& Rivals), and other aspects of racing in Army of Two: Devil's Cartel (& Warfighter!)
                li Mentored and coached designers in designing and developing features and prototypes
                    ul.nested
                        li.nested Led development of 'Monthly Activities' for PvZ: Battle for Neighborville, designed and built quirky monthly activities
                        li.nested Led multiple designers in supporting other EA studios working on Star Wars Battlefront: 2, Battlefield: Hardline, and Medal of Honor: Warfighter
                        li.nested Created design templates for prototype briefs, feature briefs, level diagrams, mission scripts, dialogue, and more
                li Additional key highlights:
                    ul.nested 
                        li.nested Contributed frequently to the usability of Frostbite that lead to numerous editor improvements as well as bug fixes
                        li.nested Prototyped environments, gameplay experiences, UI, and player tools & systemic features for both linear and open-world games
                        li.nested Attended Skate 3 launch event in London; gave interviews & demos to media and helped our MC host the gaming competition
                        li.nested Built Unity demo as part of Star Wars project
                        li.nested Worked on multiple cancelled projects, some of which are notable & google-able.
                li As QA:
                    ul.nested 
                        li.nested QA Tester for EA Sports Online; an online service featuring collectable player cards that was a precursor to Ultimate Team
                        li.nested Operated the 'Clean Room' and off-the-network office used to test network viability of EA's online titles
                        li.nested Development Manager for centralized Compliance and Online QA teams, overseeing testing of numerous EA online-enabled titles

                    
                        
                        